body {
	overflow-x: hidden;
	background-color: #fff;
}
footer {
	text-align: center;
	background-color: cadetblue;
	padding: 60px 0px;
}
footer h1{
    color:#fff;
}

footer .social-icons {
	padding: 0;
	margin: 0;
	list-style: none;
}

footer .social-icons li {
	display: inline-block;
	margin: 0px 3px;
}

footer .social-icons li a {
	width: 80px;
	height: 80px;
	display: inline-block;
	line-height: 80px;
	text-align: center;
	color: #fff;
	font-size: 24px;
	background-color: #364a59;
	transition: all 0.5s;
}

footer .social-icons li a:hover {
	background-color: #ffe165;
	color: #1f3646;
}

footer p {
	color: #fff;
	font-size: 12px;
	margin-top: 40px; 	
}

footer p em {
	font-style: normal;
	font-weight: 700;
	color: #ffe165;
}
