*{
    margin:0 ;
    padding: 0;
}
body{
    background: url(bclogin.jpg)no-repeat center center fixed;
    background-size:100% ; 
}
.parth{
    border: 12px solid black;
    color: white;
    background: aliceblue;
    position: absolute;
    top: 20%;
    left: 40%;
    border-radius: 10px;    
    text-align: center;
    border-style: double;
    
}
::placeholder{
    color: black;
}
.parth h1{
    font-family: 'Langar', cursive; 
    color: blue;
    width:96% ;
    display: inline-block;
    font-size: 50px;
    padding: 0 0;
   
}
.box{
    
    width: 300px;
    margin: 22px 0px ;
    border-bottom: 2px solid blue;
    color: blue;
    text-align: left;
/*    border: 5px solid yellowgreen;*/
}
.box input{
    background: none;
    width: 80%;
    padding:5px 10px;
    font-size: 20px;
    border:none ;
    font-weight: bolder;
    color: blue
    
}
/*:-ms-input-placeholder{
    color:blue;
}*/
.box i{
    width: 25px;
    text-align:center;
   
}
.btn{
   color:black;
   cursor: pointer;
   outline: none;
   margin: 15px 0; 
   padding: 10px 12px;
   border  :2px  solid blue;
   border-radius: 10px;
   font-size: 18px;
  /* width: 70px;*/
   background: white;
   font-weight: bold;
   font-family: Georgia, 'Times New Roman', Times, serif;
   
}
.btn:hover{
    color: blue;
    background: white;
}
.parth h3:hover{
   background:  white;
}
.parth h3
{
    padding: 1pc;
}
textarea
{
    background: none;
     width: 100%; 
    padding:5px 10px;
    font-size: 20px;
    border:none ;
    font-weight: bolder;
    color: blue ;
    
}