/* */
html {
    box-sizing: border-box;
  }
body{
    margin: 0;
    padding: 0;
    height: 100; 
    background-image: url(home1admin_img.jpg);
    -webkit-background-size: contain ;
    background-size: cover;    
    background-position: center center;
    background-repeat: fixed;
    font-family: 'Langar', cursive;
   
} 
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block; 
}
.wrapper h2
{
    padding: 0;
    margin: 0;
    color: floralwhite;
    text-shadow: 0 2px 0 rgba(71, 3, 110, 0.5);
    font-size: 60px;
}
/* .wrapper p{
    color: #040727;
    font-size: 18px;
    margin: 0;
    line-height: 35px;
} */
.wrapper a{
    background: crimson;
    color:#fff;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 30px;
}
span::before{
    content: '';
    animation: animate infinite 10s;
}
@keyframes animate{
    0%{
        content: 'Hotel life is about the same in every latitude';
    }
    50%{
        content: 'The great advantage of a hotel is that it is a refuge from home life';
    }
    100%{
        content: 'Hotel rooms inhabit a separate moral universe';
    }
}
